$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body, html{
	width:100%;
	height:100%;
	background:rgb(20,25,35);

}
.my-legend {
  color: #fff;
  font-family: Courier;
}

.map-legends {
  border: none;
  background: none;
}

.map-tooltip{
	opacity:0 !important;
}

#map{
	width:100%;
	height:100%;
	margin:0;
	background:rgb(20,25,35);

}

#tooltip-overlay{
	position: absolute;
	bottom:50px;
	left:50px;
	min-width:300px;
	padding:10px;
	min-height: 1.2em;
	background: rgba(250,250,250,0);
	font-size:1em;
	color:white;
	background:rgba(5,10,25,0.9);
	#name,#stars{
		color: rgba(240,240,210,1);
		font-size:0.9em;
		padding:0;
		margin:0;
		line-height:1em;
		float:left;
		display:inline-block;
	}

	#stars{
		float:right;
		display: inline-block;
		overflow:hidden;

	}
}

#title{
	position:absolute;
	top:35%;
	left: 30%;
	width: 30%;
	padding: 50px;

	height: 100px;
	color: rgba(240,240,200,0.8);
	z-index:1;
	display:none;
	text-align:center;
	font-size: 4em;
	background:rgba(11,20,35,0.9);
	h1, h2{
		font-family: Helvetica Neue;
		font-weight: 100;	
	}
	h1{
		text-transform: uppercase;
		letter-spacing: 3px;
		font-size:0.7em;
		font-family:300;
		color: rgba(250,250,240,0.8);
	}
	h2{
		font-size:0.35em;
		// text-transform: uppercase;

	}
	p{
		font-size:0.3em;
		font-style: italic;
		font-weight:100;
		a{
			font-weight:300;
			color: inherit;
		}
	}

}